/* Fonts */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Oswald', sans-serif; */

/* Reset iOs B.S Styling */

body{
  margin: 0;
  padding: 0;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

/* Main Header  */

.mainHeader{
  display: grid;
  grid-template-rows: 100px 1fr;
  text-align: center;
  padding-top: 30px;
}

.headerLogo img{
  height: 100px;
}

.mainNav {
  margin-top: 20px;
}

.mainNav ul{
  padding: 0;
  margin: 0;
}

.mainNav li{
  list-style: none;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 0 5px;
}

.mainNav a{
  text-decoration: none;
  color: #292929;
}

/* Index Header */

.indexHeader{
  display: grid;
  grid-template-rows: 100px 1fr;
  text-align: center;
}

.indexNav {
  margin-top: 50px;
}

.indexNav ul{
  padding: 0;
  margin: 0;
}

.indexNav li{
  list-style: none;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 0 5px;
}

.indexNav a{
  text-decoration: none;
  color: #292929;
}

.indexHeaderLogo img{
  width: 200px;
}

/* Learn More Section */

.learnMoreText{
  padding: 0 20px;
}

.learnMoreText p{
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 36px;
}

.learnMoreButton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.learnMoreButton button{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #35B29D;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
}

/* About Section */

.aboutTabs {
  margin-top: 20px;
  width: 100%;
}

.tabItem label{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.tabItem{
  align-items: center;
  text-align: center;
  background-color: #304771;
  color: #fff;
  padding: 30px 0 20px 0;
}

.whiteTab{
  background-color: #fff;
  color: #292929;
}

.tabItem .tabContent{
  height: 0;
  color: transparent;
  transition: height 2s ease, color 0ms linear;
}

.tabItem input[type=checkbox]{
  display: none;
}

.tabItem input[type=checkbox]:checked + .tabContent {
  height: auto;
  background-color: #fff;
  color: #292929;
  margin-top: 30px;
  padding: 10px 0 30px 0;
  transition: all 2ms ease, color 3ms linear;
}

/*

.aboutTab, .scheduleTab, .counselorsTab, .faqTab, .donateTab{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292929;
}

.aboutTab, .counselorsTab, .donateTab{
  background-color: #304771;
  color: #fff;
} */



/* <div class="aboutTabs">
  <div class="aboutTab"></div>
  <div class="scheduleTab"></div>
  <div class="counselorsTab"></div>
  <div class="faqTab"></div>
  <div class="donateTab"></div>
</div> */
