<div class="mainHeader">
  <div class="headerLogo">
    <a href="/"><img src="../../assets/images/logo.png" alt="camp silah logo"></a>
  </div>
  <div class="mainNav">
    <ul>
      {{#link-to 'index'}}<li>Home</li>{{/link-to}}
      {{#link-to 'about'}}<li>About</li>{{/link-to}}
      <li>Campers</li>
      <li>Contact Us</li>
    </ul>
  </div>
</div>

<div class="aboutTabs">

  <div class="tabItem">
    <label for="aboutTab">About Camp Silah</label>
    <input type="checkbox" id="aboutTab">
    <div class="tabContent">
      <p>Daughters of Eve with the help of Portland Refugee Support Group and Sons of Adam, will be hosting our first annual Summer camp AlhamduliAllah! The word Silah in Arabic means connection, which is the theme of this year's camp. We are hoping that by the end of the camp, each participant will have a better connection with Allah SWT, themselves, and nature. This camp will be for both boys and girls aged 8-18. There will be limited tickets for sale so don't lose out on this great opportunity!</p>
    </div>
  </div>

  <div class="tabItem whiteTab">
    <label for="scheduleTab">Schedule of Activities</label>
    <input type="checkbox" id="scheduleTab">
    <div class="tabContent">
      <p>schedule</p>
    </div>
  </div>

  <div class="tabItem">
    <label for="counselorsTab">Meet the Counselors</label>
    <input type="checkbox" id="counselorsTab">
    <div class="tabContent">
      <p>Coming Soon</p>
    </div>
  </div>


  <div class="tabItem whiteTab">
    <label for="faqTab">Frequently Asked Q's</label>
    <input type="checkbox" id="faqTab">
    <div class="tabContent">
      <p>Coming Soon</p>
    </div>
  </div>

  <div class="tabItem">
    <label for="donateTab">Donate To The Camp</label>
    <input type="checkbox" id="donateTab">
    <div class="tabContent">
      <p>Coming Soon</p>
    </div>
  </div>

</div>
