<div class="mainHeader">
  <div class="headerLogo">
    <a href="/"><img src="../../assets/images/logo.png" alt="camp silah logo"></a>
  </div>
  <div class="mainNav">
    <ul>
      {{#link-to 'index'}}<li>Home</li>{{/link-to}}
      {{#link-to 'about'}}<li>About</li>{{/link-to}}
      <li>Campers</li>
      <li>Contact Us</li>
    </ul>
  </div>
</div>

<div class="aboutTabs">
  <div class="aboutTab">
    <p>About Camp Silah</p>
  </div>
  <div class="scheduleTab">
    <p>Schedule of Activities</p>
  </div>
  <div class="counselorsTab">
    <p>Meet the Counselors</p>
  </div>
  <div class="faqTab">
    <p>Frequently Asked Q's</p>
  </div>
  <div class="donateTab">
    <p>Sponsor a Camper</p>
  </div>
</div>
