<!-- Header -->
<div class="header">
  <div class="nav">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Campers</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="headerLogo">
    <a href="/"><img src="../../assets/images/logo.png" alt="camp silah logo"></a>
  </div>
</div>

<!-- Main Content -->
  {{outlet}}

<!-- Footer -->
